/* add your CSS here */

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.no-list-point {
	list-style: none;
}

#round-image {
	border: 2px solid #cecece;
	width: 410px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: rgba(0,0,0,0.4);	
}

.centerEagle {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px; 
}

h3 {
	margin-left: 10px;
	margin-top: 15px;
	font-size: 2em;

}

.sectionFacts {
	border: 1px solid #cecece;
	padding: 0 10px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 380px;
	height: 350px;
}

.alignFacts {
	display: block;
	position: relative;
	margin-left: 0px;
	padding-left: 0px;
}

